@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-50: #f0f9f2;
  --primary-100: #dcf0df;
  --primary-200: #bce1c3;
  --primary-300: #8fcc9a;
  --primary-400: #6bb179;
  --primary-500: #579e64;
  --primary-600: #438350;
  --primary-700: #366842;
  --primary-800: #2d5438;
  --primary-900: #264530;
  --primary-950: #112517;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: 'Bebas Neue', sans-serif;

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

a:hover {
  text-decoration: none;
}

@utility collapsible-content {
  overflow: hidden;

  &[data-state='open'] {
    animation: slideDown 300ms ease-out;
  }

  &[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
